.container{
    justify-content: center;
}
th, td{
 border: 1px solid rgb(145, 227, 74) ;  
 padding: 10px;  
padding: 3px 7px 2px 7px;
font-size: 20px;
}
th{
font-size: 1.8em;
text-align: left;
padding-top: 5px;
padding-bottom: 4px;
background-color: #A7C942;
color: #ffffff;
}
#user{
border-collapse: collapse;
width: 100%;

}
tr:nth-child(even){ 
    background-color: rgba(213, 229, 208, 0.589);
}